@mixin font-face($font-family-name, $font-file-name) {
    @font-face {
        $fonts-path: "../assets/fonts/";
        $font-file: "#{$fonts-path}#{$font-file-name}";

        font-family: $font-family-name;
        src: url("#{$font-file}.eot");
        src: url("#{$font-file}.eot?#iefix") format('embedded-opentype'),
             url("#{$font-file}.woff") format('woff'),
             url("#{$font-file}.ttf") format('truetype');
             //url($font-file + '.otf')  format('opentype');
        font-weight: normal;
        font-style: normal;
    }
}

@for $i from 0 through 10 {
    .font-size-#{$i}vh {
        font-size: $i * 1vh;
    }

    .font-size-#{$i}em {
        font-size: $i * 1em;
    }

    @for $j from 1 through 9 {
        .font-size-#{$i}-#{$j}vh {
            font-size: ($i * 1vh) + ($j * 0.1vh);
        }

        .font-size-#{$i}-#{$j}em {
            font-size: ($i * 1em) + ($j * 0.1em);
        }
    }
}

.font-didot-serif {
    font-family: Didot, serif;
}

@include font-face('BrushScript', 'BrushScript');

.font-brush-script {
    font-family: 'Brush Script MT', BrushScript, cursive, fantasy, Didot, serif;
}
