@import "Common";
@import "Fonts";
@import "Grid";

html, body, #root {

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: auto;
}

@for $i from 0 through 9 {
  .border-size-#{$i}[class*="border"] {
    border-width: #{$i}px !important;
  }
}
