/*
 * SCSS types:
 * string
 * bool
 * number
 * null
 * color
 * list
 * map
 * function
 * arglist
 *
 * Examples:
 * meta.type-of(asdf)   => string
 * meta.type-of("asdf") => string
 * meta.type-of(true)   => bool
 * meta.type-of(100px)  => number
 * meta.type-of(#fff)   => color
 * meta.type-of(blue)   => color
 */
@use "sass:meta";
@use "sass:math";
@use "sass:string";


/// Stringifies SCSS variables into JSON for easier JavaScript importing/parsing.
///
/// Examples:
/// blue => "blue"
/// #fff => "#fff"
/// 100 => 100
/// 100px => "100px"
/// (num: 10, numWithUnits: 5px, str: hello, color: #fff, "keyAsStr": false)  => '{"num": 10, "numWithUnits": "5px", "str": "hello", "color": "#fff", "keyAsStr": "false"}'
///
/// Inspired by: https://github.com/oddbird/sass-json-export
///
/// @param {*} $var - SCSS variable to stringify.
/// @return {String} - JSON representation of the variable.
@function json-stringify($var) {
    $var-type: meta.type-of($var);
    $encode-func-name: '_encode-#{$var-type}';

    @if (meta.function-exists($encode-func-name)) {
        $encode-func: meta.get-function($encode-func-name);

        @return meta.call($encode-func, $var);
    }

    @return $var; // strings and booleans don't need to be modified
}

@function stringify($var) {
    @return '"#{$var}"';
}


@function _encode-string($string) {
    @return stringify($string);
}

@function _encode-number($number) {
    @if (math.is-unitless($number)) {
        @return $number;
    }

    @return stringify($number);
}

@function _encode-null($string) {
    @return 'null';
}

@function _encode-color($color) {
    @return stringify($color);
}

@function _encode-list($list) {
    @return _encode-iterable($list);
}

@function _encode-map($map) {
    @return _encode-iterable($map);
}

@function _encode-iterable($iterable) {
    $is-list: meta.type-of($iterable) == 'list';
    $is-map: meta.type-of($iterable) == 'map';

    $str: '';
    $opening-bracket: if(sass($is-list): '['; else: '{');
    $closing-bracket: if(sass($is-list): ']'; else: '}');

    @each $key, $value in $iterable {
        $entry-string: '';

        @if ($is-list) {
            $entry-string: json-stringify($key);
        } @else if ($is-map) {
            $entry-string: stringify($key) + ': ' + json-stringify($value);
        }

        $str: $str + ', ' + $entry-string;
    }

    $str: string.slice($str, 3); // remove leading ', ' from ', entry1, entry2'

    @return $opening-bracket + $str + $closing-bracket;
}
